:root {
    --checked: rgb(202, 14, 202);
    .modal-fullscreen{
        backdrop-filter: blur(16px) brightness(0.5);
    }
    .modal.show .modal-dialog {

        .modal-content {
            backdrop-filter: var(--glassFilter);
            background: transparent;
        }
    }


    #app {
        --color1                  : rgba(0, 0, 0, 0);
        --color2                  : rgba(0, 0, 0, 0);
        --color3                  : rgba(0, 0, 0, 0);
        --fontStyle               : "Pretendard Variable", "Inter var experimental", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-family               : var(--fontStyle);
        --textColor               : white !important;
        --textColorLight          : white;
        --textColorLighter        : #ccc;
        --keyColor                : #f31c92;
        --buttonAccent            : #b406b4;
        --buttonAccentPressed     : #b600e4;
        --border                  : 0px;
        --topBarColor             : rgba(0, 0, 0, 0);
        --linearGradient          : linear-gradient(-90deg, transparent 0%, rgba(0, 0, 0, 0.377) 10%, rgba(0, 0, 0, 0.507) 90%, transparent 100%);
        --mediaBarColor           : rgba(0, 0, 0, 0);
        --songProgressColor       : #c0046c;
        --blurSmall               : 8px;
        --blurMedium              : 32px;
        --mediaItemShadow-Shadow  : 4px 4px 4px rgba(0, 0, 0, 0);
        --artistHoverColor        : rgba(250, 35, 59, 0.8);
        --menuBackgroundColor     : rgba(0, 0, 0, 0);
        --selectBackground        : rgba(0, 0, 0, 0);
        --selectBorder            : 0px;
        --UIKitWhite              : white;
        --UIKitWhiteTextColor     : #333;
        --UIKitBlack              : rgba(0, 0, 0, 0);
        --UIKitBlackTextColor     : rgba(255, 255, 255, 0.5);
        --UIKitSelected           : rgba(200, 200, 200, 0.15);
        --UIKitShadow             : 0px 0px 36px 0px rgba(0, 0, 0, 0.3);
        --checked                 : rgb(219, 0, 201);
        --searchBarBackgroundColor: rgba(0, 0, 0, 0.527);
        --searchBackgroundColor   : rgba(0, 0, 0, 0.534);
        --activeTabColor          : rgba(250, 88, 106, 0.1);
        --oddItemsAccentCOlor     : rgb(255 255 255 / 0.03);
        --sidebarIconColor        : rgba(255, 255, 255, 0.5);
        --volumeThumbColor        : rgb(80, 80, 80);
        --volumeTrackColor        : rgba(200, 200, 200, 0.5);
        --playlistButtonColor     : rgba(100, 100, 100, 0.5);
        --userHoverColor          : rgba(0, 0, 0, 0);
        --modalContentColor       : rgba(36, 36, 36, 0.4);
        --modalHeaderColor        : rgba(0, 0, 0, 0);
        --glassFilter             : blur(32px) saturate(260%);
        --glassFilter2            : blur(36px) saturate(200%);
        --glassFilter3            : blur(28px) saturate(160%);
        --glassFilter4            : blur(15px) saturate(180%);

        .fullscreen-view .tab-toggles div {
            width        : 5vh;
            height       : 5vh;
            padding      : 1.6vh;
            margin-bottom: 100px;
            border-radius: 5px;

            &.active {
                background-color: var(--UIKitSelected);
            }
        }

        .fullscreen-view .tab-toggles div:hover {
            background-color   : var(--selected);
            transition-duration: 0.2s;
        }

        .fullscreen-view .tab-toggles {
            bottom: 2vh;
            right : 2vh;
        }

        .usermenu-container{

                .usermenu-body {
                background-color: var(--menuBackgroundColor);
                backdrop-filter: var(--glassFilter4);

                .app-sidebar-button {
                    background: var(--userHoverColor);
                    color     : var(--textColor);
                }

                .usermenu-item {
                    color: var(--textColorLighter);

                    svg {
                        color: var(--keyColor);
                    }

                    &:hover {
                        background: var(--keyColor);
                        color     : var(--textColorLight);

                        svg {
                            color: var(--textColorLight);
                        }
                    }
                }
            }

        }

        .menu-panel .menu-panel-body {
            margin-top: var(--chromeHeight1);
            background-color: var(--menuBackgroundColor);        
            color           : var(--textColor);


            & .menu-body {
                padding: 0;
            }

            & .menu-option {
                border-radius       : 0;
                width               : 100%;
                padding-inline-start: 14px;
                padding-block       : 10px;

                &::before {
                    --sizeX      : 0px;
                    --sizeY      : 0px;
                    border-radius: 0;
                }

                +.menu-option {
                    margin-top: -1px;
                }

                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--selected);
                }

            }
        }

        .md-option-container .md-option-line:not(:last-child) {
             border-bottom: none;
        }

        .modal-fullscreen {
            background: var(--searchBackgroundColor);

            .modal-window {                
                background     : transparent;

                .castPlayIndicator {
                    fill: var(--keyColor);
                }

                .modal-header,
                .md-footer,
                .modal-lowercontent,
                .modal-search {
                    background : var(--modalHeaderColor);
                    backdrop-filter: blur(var(--blurSmall));
                    color      : var(--textColor);
                    font-weight: bold;

                    .search-input--icon {
                        filter: invert(1);
                    }
                }

                .close-btn {
                    filter: invert(0.8);

                    &:hover {
                        filter: invert(0);
                        background-color: var(--buttonAccentPressed);
                    }
                }

                .md-select {
                    background: var(--selectBackground);
                    border    : var(--selectBorder);
                    color     : var(--textColor);

                    option,
                    optgroup {
                        background: var(--selectBackground);
                    }
                }

                .modal-content {
                    backdrop-filter: blur(var(--blurSmall));
                    background     : var(--modalContentColor);
                    color          : var(--textColor);
                    box-shadow     : none;

                    input[type="number"] {
                        background: var(--searchBarBackgroundColor);
                        color     : var(--textColor);
                    }

                    .sidebar-playlist {
                        .app-sidebar-item.app-sidebar-item-playlist {
                            color: var(--textColor);
                        }

                        .sidebar-icon>svg {
                            color: var(--sidebarIconColor);
                        }

                        &:hover {
                            background-color: var(--keyColor);

                            .app-sidebar-item,
                            div>svg {
                                color: var(--textColorLight);
                            }
                        }
                    }


                    .playlist-item {
                        background: var(--modalContentColor);
                        color     : var(--textColor);

                        &:hover {
                            background: var(--keyColor);
                            color     : var(--textColorLight);
                        }
                    }
                }

                .md-btn,
                .md-btn-block {
                    background: var(--keyColor);
                    color     : var(--textColorLight);
                }
            }
        }

        .app-sidebar-button.active {
            background: rgb(255 255 255 / 80%) !important;
            animation : usermenuBtnClick 0s cubic-bezier(0.36, 0, 0.66, -0.56) !important;
        }

        .app-chrome {

            & .app-chrome-item .shuffle {
                margin-left: 0;
            }

            .app-chrome--left {

                .app-mainmenu::before {
                    content         : "";
                    background-image: var(--cvar-userprofileimg, url('/assets/cider-round.svg'));
                    position        : absolute;
                    top             : -1px;
                    left            : 2px;
                    width           : 37px;
                    height          : 37px;
                    border-radius   : 25%;
                    background-size : contain;
                    z-index         : -1;
                }

                .app-mainmenu {
                    background-image: none;
                    padding-right   : 120px;
                    border-radius   : 10px;
                    outline         : none;

                    &:focus {
                        background-image: none;
                        // padding: 10px;
                        border-radius   : 10px;
                        outline         : none;

                    }

                }

                & .app-chrome-item:nth-of-type(2) {
                    margin-left: 15px;
                }
            }

            .app-chrome--center {
                .app-chrome-item.playback-controls {
                    width           : 100%;
                    max-width       : initial;
                    border:var(--border);
                    background-color: var(--mediaBarColor);
                }
            }

            .window-controls {
                width: 100px;
            }
        }

        .usermenu-body {
            backdrop-filter : blur(var(--blurSmall)) !important;
            background-color: var(--color2);               
        }  

        .reasonSP {
            margin-top: 5px;
        }

        .v-hl-btn-next[data-v-45080727]{
            right: 0px !important;
            
            .v-hl-svg[data-v-45080727] {
                background: #55035152;
                backdrop-filter: blur(var(--blurSmall));
                color: #000000;
                fill: currentColor;
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
            }

            .v-hl-container[data-v-45080727] {
                overflow-y: visible;

                &:not(.v-h1-scroll) {
                    clip-path: none;
                }
            }

        }

        .v-hl-btn-prev[data-v-45080727]{
            transform: rotate(0deg) !important;

            .v-hl-svg[data-v-45080727] {
                background: #55035152;
                backdrop-filter: blur(var(--blurSmall));
                color: #000000;
                fill: currentColor;
                box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
            }

            .v-hl-container[data-v-45080727] {
                overflow-y: visible;

                &:not(.v-h1-scroll) {
                    clip-path: none;
                }
            }
        }

        .artist-page{    
            .artist-body {
                margin-top: -70px;

                .well:not(.artistfeed-well){
                    .latestRelease{
                        margin-left: 15px;
                    }

                    .topSongs{
                        margin-left: 30px;

                        .col.flex-center{
                            height: 298px;

                            .mediaitem-list-item__grid{
                                height: inherit;
                                padding: 25px;

                                .listitem-horizontal {
                                    
                                    .vue-horizontal[data-v-45080727]{
                                    display: grid !important;
                                    }
                                }

                            }
                        }
                    }
                
                }
            }
        }

    }

    .app-sidebar-header-text {
        background-image: none
    }
    
    .app-sidebar-header-text.collapsed {
        background-image: none
    }

    #app.twopanel {

        --chromeHeight1: 50px;
        --chromeHeight2: 90px;
        --chromeHeight: calc(var(--chromeHeight1) + var(--chromeHeight2));


        #app-sidebar {
            z-index             : 3;
            padding-top         : var(--chromeHeight1);
            background          : rgba(46, 46, 46, 50%);
            backdrop-filter     : var(--glassFilter2);
            
            .app-sidebar-content{
                padding: 8px;
                overflow-y: scroll;
                overflow-y: overlay;
                height: calc(100% - var(--chromeHeight2));
             }
        }

        .app-chrome--center{
            
            .app-chrome-playback-controls {
                display: flex;
                z-index: 5;
                align-items: center;
            }

            .app-chrome-item{
                width: 100%;
            }

        }
        
        .usermenu-body {
            backdrop-filter : var(--glassFilter4);
            background-color: var(--menuBackgroundColor);
        }


        #app-content {
            z-index             : 1;
            height              : calc(100% - var(--chromeHeight1));
            bottom              :var(--chromeHeight1) ;
            background          : var(--menuBackgroundColor);
            backdrop-filter     : var(--glassFilter2) !important;

            .content-inner {            
                top                 :var(--chromeHeight1);
            }

            .playlist-page{
                padding: 32px;
                padding-top: 25px;
            }
        }
        
        .app-drawer {            
            top             : var(--chromeHeight1);
            border          : 0px;
            background      : var(--color1);
            bottom          : var(--chromeHeight2);
            border-radius   : 16px;
            height          : auto;
            backdrop-filter : var(--glassFilter4);
        }

        .app-chrome {
            z-index   : 6;
            background: transparent;

            &.chrome-bottom {
                position        : fixed;
                bottom          : 0;
                border-radius   : 16px;
                width           : auto;
                right           : 1px;
                left            : 1px;
                background-color: var(--color1);
                backdrop-filter : var(--glassFilter3);  

                .app-chrome--left {

                    .artwork {
                        margin       : 10px;
                        width        : 60px;
                        height       : auto;
                        aspect-ratio : 1;
                        border-radius: 10%;

                        img {
                            border-radius: 10%;
                        }
                    }

                    .playback-info{
                        margin: 0px;
                    }

                    .playback-info {
                        width           : 100%;
                        margin-left     : 30px;
                        display         : inherit;                     

                        .chrome-icon-container {
                            display: flex;
                            position: fixed;
                            right: 0px;
                        }
                    }
                }

                .app-chrome--center {
                    flex-direction  : row-reverse;
                    align-items     : center;
                    margin-left     : 15px;
                    margin-right    : 15px;
                    width           : -webkit-fill-available;

                    .playback-button.play,
                    .playback-button.pause {
                        @pink         : #f31c92;
                        @red            : #df197c;
                        @purple         : #a31daa;
                        @center         : #302A42;
                        border          : 0px;
                        background-image: linear-gradient(-220deg, @pink 0%, @pink 35%, @red 60%, @purple 100%);
                        background-size : cover;
                        height          : 50px;
                        width           : 50px;
                        position        : relative;
                        box-shadow      : unset;
                        box-shadow      : inset 0px 0px 0px 1px rgb(200 200 200 / 20%);
                
                        &::after {
                            content            : "";
                            position           : absolute;
                            --dist             : 4px;
                            top                : var(--dist);
                            left               : var(--dist);
                            right              : var(--dist);
                            bottom             : var(--dist);
                            background-color   : @center;
                            background-size    : 38px;
                            background-position: center;
                            background-repeat  : no-repeat;
                            border-radius      : 50%;
                            transition         : opacity .3s var(--appleEase);
                            display            : block;
                            pointer-events     : none;
                        }
                
                        &:active {
                            transition: transform 0s var(--appleEase);
                            transform : scale(0.90);
                
                            &::after {
                                --dist: 5px;
                            }
                        }
                
                        &.play {
                            &::after {
                                background-image: url('../../assets/cider-icons/play.svg');
                            }
                        }
                
                        &.pause {
                            &::after {
                                background-image: url('../../assets/cider-icons/pause.svg');
                            }
                        }
                
                    }
                
                    input[type=range] {
                        height                  : 5px;
                        @shadowColor            : #771196;
                        --songProgressBackground: #b2a5ba;
                        box-shadow              : 0px 0px 0px 1px rgba(0 0 0 / 10%);
        
                        &::-webkit-slider-thumb {
                            opacity           : 1;
                            transform         : scale(1);
                            -webkit-appearance: none;
                            appearance        : none;
                            width             : 20px;
                            height            : 20px;
                            border-radius     : 100%;
                            background        : #434444a2;
                            background-image  : radial-gradient(var(--keyColor) 4px, transparent 5px, transparent 10px);
                            cursor            : default;
                            transition        : opacity .10s var(--appleEase), transform .10s var(--appleEase);
                            box-shadow        : inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
        
                            &:hover {
                                opacity         : 1;
                                background-image: radial-gradient(var(--keyColor) 5px, transparent 6px, transparent 10px);
                            }
                        }
                    }

                    .app-chrome-playback-duration .song-progress {
                        bottom: 7px;
                        width:  85%;
                        left: 30px;
                        input[type=range] {
                            height                  : 5px;
                            @shadowColor            : #c400b3;
                            --songProgressBackground: #52587e;
                            box-shadow              : 0px 0px 0px 1px rgba(0, 0, 0, 0.397);
                
                            &::-webkit-slider-thumb {
                                opacity           : 1;
                                transform         : scale(1);
                                -webkit-appearance: none;
                                appearance        : none;
                                width             : 20px;
                                height            : 20px;
                                border-radius     : 100%;
                                background        : #1213139d;
                                background-image  : radial-gradient(var(--keyColor) 4px, transparent 5px, transparent 10px);
                                cursor            : default;
                                transition        : opacity .10s var(--appleEase), transform .10s var(--appleEase);
                                box-shadow        : inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
                
                                &:hover {
                                    opacity         : 1;
                                    background-image: radial-gradient(var(--keyColor) 5px, transparent 6px, transparent 10px);
                                }
                            }
                        }
                
                        .song-duration {
                            p {
                                position   : relative;
                                top        : 8px;
                                font-size  : 12px;
                                font-family: --fontStyle;
                
                                &:first-child {
                
                                    left: -30px;
                                }
                
                                &:last-child {
                                    right: -30px;
                                }
                            }
                        }
                    }
                }
                
                .app-chrome--right {
                    width: auto;
                    margin-left: 15px;

                    .app-chrome-item.volume {
                        input {
                            background: #a5a8ba00;
                            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            
                            &::-webkit-slider-thumb {
                                opacity           : 1;
                                transform         : scale(1);
                                -webkit-appearance: none;
                                appearance        : none;
                                width             : 16px;
                                height            : 16px;
                                border-radius     : 100%;
                                background        : #040707e0;
                                background-image  : radial-gradient(var(--songProgressColor) 2px, transparent 3px, transparent 10px);
                                cursor            : default;
                                transition        : opacity .10s var(--appleEase), transform .10s var(--appleEase);
                                box-shadow        : inset 0px 0px 0px 1px rgba(5, 0, 0, 0);
            
                                &:hover {
                                    opacity         : 1;
                                    background-image: radial-gradient(var(--songProgressColor) 3px, transparent 4px, transparent 10px);
                                }
                            }
                        }
                    }
                }
            }
        }

        #apple-music-video-container {
            top: var(--border);
            bottom: unset;
        }

        .app-chrome:not(.chrome-bottom){ 
            
            .app-chrome--left{
                .app-mainmenu,
                .app-mainmenu.active {
                    border-radius        : 50%;
                    background-repeat    : no-repeat;
                    width                : 35px;
                    height               : 35px;
                    background-size      : contain;
                }
             }

            .app-chrome--center {
            
                .top-nav-group {
                background: rgba(0, 0, 0, 4%);
                height: 30px;
                width: 100%;

                    .app-sidebar-item {
                        border: none;
                        backdrop-filter: var(--glassFilter4);
                        height: 100%;
                        position: relative;
                    }

                    .app-sidebar-item.active{
                        background-color: #00000005;
                        backdrop-filter: var(--glassFilter4);
                    }
                }
            }

            .app-chrome--right{
                .search-input-container{
                    .search-hints-container{
                    }
                }
            }
        }

    }

    #app-main {
        color: var(--textColor);
        background: var(--menuBackgroundColor);

        // Mac Style side-menu
        #app-sidebar {
            background: rgba(46, 46, 46, 50%);
            backdrop-filter: var(--glassFilter2) !important;
            padding-top: 0px;

            .app-sidebar-header {
                padding-top: var(--chromeHeight);          
            }

            .search-input-container{
                padding-top: 15px;
                z-index: 5;
            }

            .search-input--icon {                
                background-position-y: 23px;
                background-position-x: 6px;
                background-size: 20px;
            }

            .app-sidebar-header-text:not(:first-child) {
                font-size  : 10px;
                padding-top: 15px;
            }

            .search-input {
                background   : var(--searchBarBackgroundColor);
                color        : var(--textColor);
                filter       : saturate(0);
                padding      : 10px;
                padding-left : 32px;
                border-radius: 5px;
                border       : var(--selectBorder);
                z-index      : 4;
            }

            .search-hints-container .search-hints {

                .search-hint {
                    color: var(--textColor);

                    &:hover {
                        background: var(--buttonAccent);
                        color     : var(--textColorLight);
                    }
                }
            }

            .usermenu-container{
                padding-top: 11px;

                .usermenu-body{
                backdrop-filter: var(--glassFilter4) !important;                
                background: var(--menuBackgroundColor);
                }
            }
        }

        .app-navigation {
            height: calc(100% - var(--navigationBarHeight));
        }

        #app-content {
            border-radius: 0px;
            border       : var(--border);
            backdrop-filter: var(--glassFilter2);
            background: var(--menuBackgroundColor);
        }

        .github-themes-page{
            padding         : 32px;
            padding-left    : 16px;
            padding-right   : 16px;

            .repos-list {

                .list-group-item {
                    background: transparent;
                }
            }
        }

        .app-chrome {
            background: transparent;

            .app-chrome-item {
                -webkit-app-region: drag;

                button,
                .volume,
                input[type="range"] {
                    -webkit-app-region: no-drag !important;
                }
            }

            .vdiv {
                display: none;
            }

            .app-chrome--left {
                // margin-left: 150px;

                .app-chrome-item.full-height {
                    position: relative;
                    // left: calc(100vw - 290px);
                    z-index : 100;

                    &:first-child {
                        // width:35px;
                        // margin-left: 75px;
                    }
                }
            }

            // Display Cider Logo when player is empty
            .app-chrome-item.playback-controls:empty {
                background-image   : url('/assets/cider-round.svg');
                background-repeat  : no-repeat;
                background-size    : 7%;
                background-position: center;

            }

            .app-chrome--right {
                // margin-right: -20px;
                z-index: 7;
            }

            &::before {
                content         : "";
                position        : absolute;
                top             : 0;
                right           : 0;
                width           : calc(100% - 260px);
                height          : var(--chromeHeight1);
                background-color: var(--topBarColor);
                z-index         : 6;
                border-left     : var(--border);
                // border-bottom   : var(--border);
                backdrop-filter : blur(var(--blurSmall));
            }

            .app-chrome--center,
            .app-chrome--left,
            .app-chrome-item {
                z-index: 7;

                // change Cider Logo to profile picture
                .app-mainmenu,
                .app-mainmenu.active {
                    border-radius    : 50%;
                    background-repeat: no-repeat;
                    width            : 35px;
                    height           : 35px;
                    background-size  : contain;
                }
            }

            .app-chrome-item.volume {
                width       : 110px;
                max-width   : 110px;
                margin-right: 1vw;

                input[type=range] {
                    background-color: transparent;
                    height          : 20px;

                    &::-webkit-slider-runnable-track {
                        background   : var(--volumeTrackColor);
                        filter       : none !important;
                        height       : 4px;
                        border-radius: 4px;

                    }

                    &::-webkit-slider-thumb {
                        position  : relative;
                        border    : 1px solid var(--volumeTrackColor);
                        background: var(--volumeThumbColor);
                        margin-top: -6px;

                    }

                }
            }

            // Mac Style Player Controls
            .app-playback-controls {
                height         : 98%;
                backdrop-filter: blur(0px);
                border-radius  : 5px;
                width          : 100%;

                .artwork {
                    width        : 50px;
                    height       : 50px;
                    margin-left  : 0px;
                    margin-right : -2.25px;
                    margin-bottom: 0px;
                    margin-top   : 0px;
                    border-radius: 5px;
                    position     : absolute;
                    left         : 0px;

                    .mediaitem-artwork {
                        border-radius: 5px;
                    }

                    .mediaitem-artwork--img {
                        image-rendering: -webkit-optimize-contrast !important;
                    }
                }

                .song-progress {
                    bottom  : -4px;
                    right   : 1px;
                    left    : 2.5px;
                    z-index : 30;
                    overflow: hidden;

                    input[type="range"] {
                        border-radius: 0px;

                        &::-webkit-slider-thumb {
                            border-radius: 3px;
                            width        : 7px;
                            height       : 15px;
                            border       : #333 solid 1px;
                            background   : var(--songProgressColor)
                        }
                    }

                    .song-duration {
                        margin-left : -1px;
                        margin-right: 6px;
                    }
                }

                .song-name {
                    max-width         : unset;
                    width             : 100%;
                    padding-left      : 0.5%;
                    padding-right     : 1%;
                    margin-top        : -5px;
                    // -webkit-mask: linear-gradient(to right, transparent 0%, transparent calc(100% - 1px), #000 calc(100% - 1px), #000 100%);
                    mask-image        : var(--linearGradient);
                    -webkit-mask-image: var(--linearGradient);

                }

                & div .song-artist-album {
                    width             : 98%;
                    max-width         : unset;
                    mask-image        : var(--linearGradient);
                    -webkit-mask-image: var(--linearGradient);

                    .song-artist-album-content {
                        font-size: 12px;
                        // color: #ddd;
                    }
                }

                .actions {
                    display: none;
                }

                .audio-type {
                    margin-right: 10px;
                    margin-top  : 12px;
                }

                .playback-info {
                    position        : absolute;
                    height          : 100%;
                    left            : 50px;
                    width           : calc(100% - 50px);
                    display         : -webkit-box;
                }
            }
        }

        // Style Listen Now first row of cards larger
        .content-inner {


            .header-text {
                margin-left: 0.65rem;
            }

            .title-browse-sp {
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }

            .cd-mediaitem-square.mediaitem-card {
                transform : scale(1);
                transition: transform 0.2s var(--appleEase) 0.1s;

                &:hover {
                    transform : scale(1.1);
                    transition: transform 0.2s var(--appleEase) 0.1s;
                }

                .info-rect-card{
                    display: flex;
                }
            }

            .cd-mediaitem-square:not(.mediaitem-brick) {
                width: 264px;

                .artwork-container .artwork {
                    width       : 240px;
                    height      : initial;
                    aspect-ratio: 1;
                }

                &.mediaitem-video {
                    width : 320px;
                    height: 230px !important;

                    .artwork-container .artwork {
                        width       : 290px;
                        height      : initial;
                        aspect-ratio: 16/9;
                    }
                }
            }

            .cd-mediaitem-square.mediaitem-brick {
                width: 318px;

                .artwork-container .artwork {
                    height: 163px;
                    width : 290px;
                }
            }

            .itemContainer .cd-mediaitem-square-container,
            .madeforyou-body .cd-mediaitem-square-container {
                padding-right: 20px;

                .mediaitem-video {
                    max-width: 320px;
                    width    : 290px;
                }
            }

            .cd-mediaitem-square:not(.mediaitem-card) {
                transition      : transform .2s var(--appleEase);
                transition-delay: .1s;
                padding         : 12px;
                height          : 310px;

                .artwork-container,
                .info-rect {
                    transition      : transform .22s var(--appleEase);
                    transition-delay: .05s;
                }

                &:hover {
                    .artwork-container {
                        transform       : scale(1.1);
                        transition      : transform .1s var(--appleEase);
                        transition-delay: 0s;
                        transform-origin: center;
                    }

                    .info-rect {
                        z-index         : 1;
                        transition      : transform .1s var(--appleEase);
                        transition-delay: 0s;
                        transform       : translateY(8px) translate3d(0, 0, 0);
                    }
                }
            }

            &:not(.artist-page) .vue-horizontal {
                height    : 100%;
                width     : 100%;
                overflow-y: visible;
            }

            .cd-hmedia-scroller.hmedia-scroller-card {
                height    : 21.5vw;
                max-height: 410px;
                min-height: 360px;
                margin-top: -15px;

                .cd-mediaitem-square.mediaitem-card {
                    // width        : 100%;
                    width        : initial;
                    max-width    : none;
                    max-width    : none;
                    height       : 90%;
                    aspect-ratio : 24/31;
                    padding-right: 0px;


                    & .artwork-container {
                        width : 100%;
                        height: 100%;

                        & .artwork {
                            width              : 100%;
                            height             : 100%;
                            background-size    : cover;
                            background-position: center;
                            background-repeat  : no-repeat;
                        }
                    }

                    & .title {
                        font-weight: 650;
                    }

                    & .subtitle {
                        font-size         : 0.95em;
                        display           : -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow          : hidden;
                        max-height        : 3.8em;

                    }

                    & .title+.subtitle {
                        max-height: none;
                        margin-top: -0.5em;
                    }
                }

            }

            .cd-mediaitem-square:not(.mediaitem-card) {
                & .title+.subtitle {
                    opacity: 0.7;
                }
            }

            .cd-mediaitem-list-item:hover {
                background-color: rgba(150, 150, 150, 0.3);
            }

            &.playlist-page {
                .playIcon {
                    margin-left: -10px !important;
                }

            }

            &.search-page {
                .mediaitem-brick .title {
                    color: var(--textColorLight);
                }
            }

            &.settings-page {
                padding-left        : 16px;
                padding-right       : 16px;
                .md-option-container .md-option-line:not(:last-child) {
                    border-bottom: var(--selectBorder);
                }
            }

            &.home-page {
                top: var(--chromeHeight1);

                .well.artistfeed-well{
                    border-radius   : 16px;
                    background      : rgb(128 128 128 / 10%);
                }
            }

        }
        
        // Style New Artists Page
        .library-artists-page {
            padding             : 32px;
            padding-left        : 16px;
            padding-right       : 16px;
            .podcasts-list {
                background: var(--menuBackgroundColor);
                padding-top: 14px;
                width: 320px;
            }

            .cd-mediaitem-list-item {
                .artwork {
                    box-shadow   : 0px 0px 12px var(--mediaBarColor);
                    border-radius: 50%;
                }

                &:hover,
                &.active {
                    background-color: var(--artistHoverColor);
                    color           : #fff;
                    transition      : 0.1s ease-in-out;
                }
            }

            .inner-container .episodes-list{
                border-radius: 16px;
            }

        }

        // Style Buttons
        .md-btn {
            &.md-btn-primary {
                background: var(--buttonAccent);
            }

            &:not(.md-btn-replay):not(.md-btn-replay--hero):not(.teamBtn):hover {
                background: var(--buttonAccentPressed);
            }
        }

        // Style Select
        .md-btn,
        .md-select {
            color: whitesmoke;

            &:not(.md-btn-primary):not(.md-btn-replay):not(.md-btn-replay--hero) {
                background: var(--selectBackground);
                border    : var(--selectBorder);
                color     : var(--textColor);
            }

            .md-ico-remove {
                filter: unset;
            }

            .md-ico-add {
                filter: unset;
            }

            >option,
            >optgroup,
            optgroup>option {
                background: rgba(61, 56, 56, 0.699);
            }
        }

        // Style See All/ History Button
        .cd-btn-seeall {
            color: var(--keyColor);
        }

        // Make Static Artist Headers smaller
        .artist-page .artist-header {
            min-height: 350px;
        }

        // Make Static Artist Headers larger
        .content-inner.artist-page.animated {
            .artist-header {
                height  : calc(100vh - 480px);
                overflow: hidden;
                position: relative;

                .animated {
                    position  : absolute;
                    bottom    : 0;
                    margin-top: calc(var(--chromeHeight1));
                    height    : 30%;
                    overflow  : visible;
                    box-shadow: none;

                    video {
                        -webkit-mask-image: linear-gradient(0deg, transparent 0%, white 43%, black 55%, black 90%, black 100%);
                    }
                }
            }


            .more-btn-round {
                box-shadow: var(--mediaItemShadow);

                .svg-icon {
                    background: var(--textColorLight);
                }
            }
        }

        .artist-play {
            background: var(--buttonAccent);
        }

        .more-btn-round {
            box-shadow: var(--mediaItemShadow);

            .svg-icon {
                background: var(--keyColor);
            }
        }

        // increase star size
        .popular {
            width          : 12px;
            height         : 12px;
            margin-top     : -2px;
            background-size: contain;
            left           : -25px;
        }

        .playlist-page.inline-playlist .playlist-inner {
            background     : var(--color2);
            backdrop-filter: blur(var(--blurSmall));

            .floating-header {
                background     : var(--mediaBarColor);
                backdrop-filter: blur(var(--blurMedium));
            }
        }

        .playlist-page {
            .playlist-display {
                border-radius: 16px;
            }

            .artist-chip {
                color: var(--textColor);

                .artist-chip__follow {
                    color           : var(--keyColor);
                    background-color: transparent;
                    transition      : background-color 0.3s 1s var(--appleEase), color 0.3s 1s var(--appleEase);

                    &:hover {
                        background-color: var(--keyColor);
                        color           : var(--textColorLight);
                        transition      : background-color 0.3s var(--appleEase);
                    }
                }
            }

            .playlist-body.scrollbody .tabs .tab-content .tab-pane{
                padding-right       : 16px;
                width               : auto;
                padding-left        : 0px;

            }
            .well .playlist-time {
                margin-top: 40px;
            }

            div[draggable="false"] .playlist-time {
                margin-top: -20px;
            }
        }

        // Style new Settings Page UIKit
        .settings-page ul[role="tablist"] {
            margin-top   : 45px;
            margin-bottom: 40px;
        }

        .nav-link {
            color: var(--UIKitBlackTextColor);

            &.active,
            &:hover {
                color      : var(--UIKitWhiteTextColor);
                box-shadow : var(--UIKitShadow);
                font-weight: bold;

                &:after {
                    background-color: var(--UIKitWhite);
                }
            }
        }

        .nav-pills {
            background-color: var(--UIKitBlack);
            border-radius   : 25px;

            &:hover {
                .nav-link.active {
                    color      : var(--UIKitBlackTextColor);
                    font-weight: normal;

                    &::after {
                        background-color: var(--UIKitSelected);
                    }

                    &:hover {
                        color      : var(--UIKitWhiteTextColor);
                        font-weight: bold;

                        &:after {
                            background-color: var(--UIKitWhite);
                        }
                    }
                }
            }
        }

        input[type=checkbox][switch]:checked {
            background-color: var(--checked);
            mix-blend-mode  : unset;
        }

        .well:not(.artistfeed-well) {
            background-color: transparent;
            box-shadow      : none;
            padding-inline  : 0;
        }

    }

    // Only changing the CSS for the Music Video Container
    #apple-music-video-container {

        // Style Captions
        #captions:not(:empty) {
            color         : var(--textColor);
            font-size     : 1.75rem;
            padding-inline: 10px;
            padding-block : 5px;
            border-radius : 10px;
            font-family   : 'SF Pro', 'Inter', 'Noto Sans JP', 'Source Han Sans SC', 'Source Han Sans HK', 'Source Han Sans SC', 'Source Han Sans HK', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK', 'Noto Sans KR', sans-serif;
            margin-top    : 6vh;
        }

        // AM Web Style Fullscreen Button
        #player-fullscreen {
            background         : url("icons/fullscreen.svg");
            background-size    : 50%;
            background-position: center;
            background-repeat  : no-repeat;
            filter             : opacity(0.6);
            // filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 80%));
            background-color   : var(--mediaBarColor);
            border-radius      : 10px;
            transition         : 0.2s ease-in-out filter;
            bottom             : 0;

            &:hover {
                filter    : opacity(1);
                transition: 0.2s ease-in-out filter;
            }

            svg {
                display: none;
            }
        }

        // AM Web Style PiP Button
        #player-pip {
            background-color: var(--mediaBarColor);
            border-radius   : 10px;
            bottom          : 0;
            filter          : opacity(0.6);
            transition      : 0.2s ease-in-out filter;

            &:hover {
                filter    : opacity(1);
                transition: 0.2s ease-in-out filter;
            }
        }

        .playback-info {
            width           : 100%;
            bottom          : 0;
            left            : 0;
            padding         : 20px 40px;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
        }

        input[type="range"] {
            align-self   : center;
            height       : 4px;
            border-radius: .5rem;
            margin-inline: 10px;
        }

        p {
            color: rgb(255, 255, 255, 1);
        }

        .song-artist {
            font-size  : 1.7rem;
            font-weight: bold;
            color      : rgb(255, 255, 255, 1);
        }

        .song-name {
            font-size  : 1.2rem;
            font-weight: bold;
            color      : rgb(255, 255, 255, 0.8);
        }

        .song-progress input[type="range"] {
            appearance: initial;

            &::-webkit-slider-thumb {
                box-shadow        : 0px 0px 0px #000000;
                border            : 1px solid #39404D;
                background        : #fff;
                height            : 0.7rem;
                width             : 0.7rem;
                border-radius     : 50%;
                cursor            : pointer;
                -webkit-appearance: none;
            }
        }
    }

    .artist-play {
        background: var(--buttonAccent);
    }

    .more-btn-round {
        box-shadow: var(--mediaItemShadow);

        .svg-icon {
            background: var(--keyColor);
        }
    }

    // increase star size
    .popular {
        width          : 12px;
        height         : 12px;
        background-size: contain;
    }

    .playlist-page.inline-playlist .playlist-inner {
        background     : var(--color2);
        backdrop-filter: blur(var(--blurSmall));

        .floating-header {
            background     : var(--mediaBarColor);
            backdrop-filter: blur(var(--blurMedium));
        }
    }

    // Style new Settings Page UIKit
    .settings-page ul[role="tablist"] {
        margin-top   : 40px;
        margin-bottom: 40px;
    }

    input[type=checkbox][switch]:checked {
        background-color: var(--checked);
        mix-blend-mode  : unset;
    }

    .cd-mediaitem-list-item:nth-child(odd) {
        background: var(--color1);
    }

    .well:not(.artistfeed-well) {
        background-color: transparent;
        box-shadow      : none;
    }

    // Only changing the CSS for the Music Video Container
    #apple-music-video-container {

        // Style Captions
        #captions:not(:empty) {
            color         : var(--textColorLight);
            font-size     : 1.75rem;
            padding-inline: 10px;
            border-radius : 10px;
            font-family   : 'SF Pro', 'Inter', 'Noto Sans JP', 'Source Han Sans SC', 'Source Han Sans HK', 'Source Han Sans SC', 'Source Han Sans HK', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK', 'Noto Sans KR', sans-serif;
            margin-top    : 6vh;
        }

        .menu-panel .menu-panel-body {
            background-color: var(--color2);         
            color           : var(--textColor);
        }
    }
}


@media only screen and (max-width: 1120px) {
    #app {
        .app-chrome .app-chrome-item:nth-of-type(2) {
            margin-left: 115px !important;
        }
    }

    #app.macosemu {
        .app-chrome .app-chrome-item:nth-of-type(2) {
            margin-left: 180px !important;
        }

        .app-chrome--right {
            width: 20% !important;
        }
    }
}